body{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	background:#252525;
	width:100%;
	height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;
	font-family:'Courier New', monospace}
.container{
	width:350px;
	height:350px;
	border-radius:8px;
	position:relative;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;}
.analog{
	width:50%;
	height:50%;
	border-radius:50%;
	position:absolute;
	top:10%;
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:#252525;
	box-shadow:0px 0px 10px rgba(0,0,0,.7) inset,0px 0px 5px rgba(0,0,0,.7),0px 0px 10px rgba(0,0,0,.7),0px 0px 15px rgba(0,0,0,.7),0px 0px 20px rgba(0,0,0,.7),0px 0px 30px #252525;
	}
.analog > .numbers{
	width:20px;
	height:100%;
	position:absolute;
	color:#959595;
	font-size:12px;}
.tweleve-six{
	transform:rotate(0deg);
	position:relative;}
.tweleve{
	width:100%;		
	position:absolute;
	top:5px;
	display:flex;
	align-items:center;
	justify-content:center;}
.six{
	width:100%;
	position:absolute;
	bottom:5px;
	display:flex;
	align-items:center;
	justify-content:center;}
.one-seven{transform:rotate(30deg);}
.one{
	width:100%;		
	position:absolute;
	top:5px;
	display:flex;
	align-items:center;
	justify-content:center;
	transform:rotate(-30deg)}
.seven{
	width:100%;
	position:absolute;
	bottom:5px;
	display:flex;
	align-items:center;
	justify-content:center;
	transform:rotate(-30deg)}
.two-eight{transform:rotate(60deg);}
.two{
	width:100%;		
	position:absolute;
	top:5px;
	display:flex;
	align-items:center;
	justify-content:center;
	transform:rotate(-60deg)}
.eight{
	width:100%;
	position:absolute;
	bottom:5px;
	display:flex;
	align-items:center;
	justify-content:center;
	transform:rotate(-60deg)}
.three-nine{transform:rotate(90deg);}
.three{
	width:100%;		
	position:absolute;
	top:5px;
	display:flex;
	align-items:center;
	justify-content:center;
	transform:rotate(-90deg)}
.nine{
	width:100%;
	position:absolute;
	bottom:5px;
	display:flex;
	align-items:center;
	justify-content:center;
	transform:rotate(-90deg)}
.four-ten{transform:rotate(120deg);}
.four{
	width:100%;		
	position:absolute;
	top:5px;
	display:flex;
	align-items:center;
	justify-content:center;
	transform:rotate(-120deg)}
.ten{
	width:100%;
	position:absolute;
	bottom:5px;
	display:flex;
	align-items:center;
	justify-content:center;
	transform:rotate(-120deg)}
.five-eleven{transform:rotate(150deg);}
.five{
	width:100%;		
	position:absolute;
	top:5px;
	display:flex;
	align-items:center;
	justify-content:center;
	transform:rotate(-150deg)}
.eleven{
	width:100%;
	position:absolute;
	bottom:5px;
	display:flex;
	align-items:center;
	justify-content:center;
	transform:rotate(-150deg)}
.needles{
	width:100%;
	height:100%;
	position:relative;
	display:flex;
	align-items:center;
	justify-content:center;}
.needles-bubble{
	width:8px;
	height:8px;
	border-radius:50%;
	z-index:1;
	background-color:red;
	box-shadow:0px 0px 10px rgba(0,0,0,.7) inset,0px 0px 5px rgba(0,0,0,.7),0px 0px 10px rgba(0,0,0,.7),0px 0px 15px rgba(0,0,0,.7),0px 0px 20px rgba(0,0,0,.7),0px 0px 30px white;}
.hour-needle{
	width:2px;
	height:45%;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
	position:absolute;
	/* border:1px solid#ce40cb; */}
.hour-needle .cut{
	width:100%;
	height:55%;
	position:absolute;
	top:0px;
	background:transparent;
	border:1px solid #ce40cb;
	background:#ce40cb;
	border-radius:100% 100% 0 0;
	z-index:0;} 
/* .hour-needle > .hrs{
	width:7px;
	height:100%;
	border:1px solid red;
	position:absolute;
	top:0;}
.hrs .hr-twelve, .hrs .hr-one, .hrs .hr-two, .hrs .hr-three, .hrs .hr-four, .hrs .hr-five{
	width:2px;
	height:2px;
	border-radius:50%;
	border:1px solid #ce40cb;
	position:absolute;
	top:-2px;
	margin:auto;}
.hrs .hr-six, .hrs .hr-seven, .hrs .hr-eight, .hrs .hr-nine, .hrs .hr-ten, .hrs .hr-eleven{
	width:2px;
	height:2px;
	border-radius:50%;
	border:1px solid #ce40cb;
	position:absolute;
	bottom:-2px;
	margin:auto;} */
.minuite-needle{
	width:1px;
	height:55%;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
	position:absolute;
	/* border:1px solid #ffff00; */}
.minuite-needle .cut{
	width:100%;
	height:55%;
	position:absolute;
	top:0px;
	border:1px solid #ffff00;
	border-radius:100% 100% 0 0;
	background:#ffff00;
	z-index:0;} 
.second-needle{
	width:0.5px;
	height:65%;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
	position:absolute;
	/* border:1px solid #71ce13; */}
.second-needle .cut{
	width:100%;
	height:55%;
	position:absolute;
	top:0px;
	border:1px solid #71ce13;
	background:#71ce13;
	z-index:1;
	border-radius:100% 100% 0 0;}
.name{
	width:100%;
	height:auto;
	position:absolute;
	bottom:5%;
	text-align:center;
	color:red;
	text-shadow:5px 5px 8px red;
	font-weight:800;
	}
.digital{
	width:50%;
	height:70%;
	border-radius:25% 25% 8px 8px;
	position:absolute;
	bottom:10%;
	z-index:-1;
	background-color:#252525;
	box-shadow:0px 0px 10px rgba(0,0,0,.7) inset,0px 0px 5px rgba(0,0,0,.7),0px 0px 10px rgba(0,0,0,.7),0px 0px 15px rgba(0,0,0,.7),0px 0px 20px rgba(0,0,0,.7);}
.digital-container{
	width:80%;
	height:20%;
	
	position:absolute;
	bottom:30px;
	left:18px;}
.digital-inner-container{
	margin:5px;
	width:cal(100%-5px);
	display: flex;
	justify-content: space-evenly;
	height:70%;
	position:relative;
	box-shadow:0px 0px 10px rgba(0,0,0,.7) inset,0px 0px 5px rgba(0,0,0,.7),0px 0px 10px rgba(0,0,0,.7),0px 0px 15px rgba(0,0,0,.7),0px 0px 20px rgba(0,0,0,.7);
	border-radius:5%;}
.hours, .seconds, .minuits, .specification{
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;}
.hours{
	color:#ce40cb;
	text-shadow:0px 0px 17px rgba(218,112,216,0.8)}
.minuits{
	color:#ffff00;
	text-shadow:0px 0px 17px rgba(255,255,0,.8)}
.seconds{
	color:#71ce13;
	text-shadow:0px 0px 17px rgba(113,206,19,0.8)}
.specification{
	color:rgba(255,255,255,0.8);
	text-shadow:0px 0px 17px rgba(255,255,255,0.8)}
